/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#undef ZMK_BEHAVIORS_KEEP_ALL

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 950
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 1

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&msc {
    delay-ms = <0>;
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
};

&mmv {
    delay-ms = <0>;
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};

/ {
    behaviors {
        hrshift_l: hrshift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;

            label = "HRSHIFT_L";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };

        hrshift_r: hrshift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;

            label = "HRSHIFT_R";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        HRL: HRL {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            label = "HRL";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };

        HRR: HRR {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            label = "HRR";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        Space_Function: Space_Function {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&lt>, <&kp>;

            label = "SPACE_FUNCTION";
        };

        bootloader_tap: bootloader_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&none>, <&bootloader>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CAD {
            bindings = <&kp LA(LC(DELETE))>;
            key-positions = <1 2 3>;
        };

        bootloaderright {
            bindings = <&bootloader>;
            key-positions = <8 18 28>;
        };

        bootloaderleft {
            bindings = <&bootloader>;
            key-positions = <1 11 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F                    &kp P                &kp B                      &kp J                    &kp L                 &kp U                     &kp Y    &kp SEMICOLON
&kp A  &kp R  &hrshift_l LEFT_SHIFT S  &HRL LEFT_CONTROL T  &kp G                      &kp M                    &HRR RIGHT_CONTROL N  &hrshift_r RIGHT_SHIFT E  &kp I    &kp O
&kp Z  &kp X  &kp C                    &kp D                &kp V                      &kp K                    &kp H                 &kp COMMA                 &kp DOT  &kp SQT
                                       &kp BACKSPACE        &Space_Function 4 SPACE    &Space_Function 1 ENTER  &mo 2
            >;
        };

        Num_Nav {
            bindings = <
&kp TAB         &kp NUMBER_7  &kp NUMBER_8                    &kp NUMBER_9                &kp NUMBER_0        &kp HOME       &kp PG_UP                 &kp BSLH                    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT_GUI    &kp NUMBER_4  &hrshift_l LEFT_SHIFT NUMBER_5  &HRL LEFT_CONTROL NUMBER_6  &kp LEFT_CONTROL    &kp END        &HRR RIGHT_CONTROL PG_DN  &hrshift_r RIGHT_SHIFT INS  &kp UP            &kp BACKSPACE
&kp LEFT_SHIFT  &kp NUMBER_1  &kp NUMBER_2                    &kp NUMBER_3                &kp ESCAPE          &kp RIGHT_ALT  &kp DELETE                &kp LEFT                    &kp DOWN_ARROW    &kp RIGHT
                                                              &trans                      &mo 3               &to 1          &kp RIGHT_GUI
            >;
        };

        Sym_Func {
            bindings = <
&kp TAB           &kp MINUS       &kp EQUAL       &kp STAR         &kp FSLH          &kp RIGHT_ALT      &kp F7                 &kp F8                     &kp F9  &kp PRINTSCREEN
&kp LEFT_CONTROL  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_UP      &kp RIGHT_CONTROL  &HRR RIGHT_CONTROL F4  &hrshift_r RIGHT_SHIFT F5  &kp F6  &kp ESCAPE
&kp LEFT_SHIFT    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN    &kp RIGHT_SHIFT    &kp F1                 &kp F2                     &kp F3  &kp GRAVE
                                                  &trans           &mo 3             &trans             &to 2
            >;
        };

        bt_layer {
            bindings = <
&trans          &trans        &trans        &trans        &trans            &bootloader_tap  &studio_unlock  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &bt BT_CLR_ALL    &trans           &trans          &trans  &trans  &trans
&kp LEFT_SHIFT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR        &trans           &trans          &trans  &trans  &trans
                                            &trans        &trans            &trans           &to 0
            >;
        };

        Functions {
            bindings = <
&kp LC(X)  &kp F7  &kp F8  &kp F9  &kp F10    &trans     &trans          &trans          &trans           &trans
&kp LC(C)  &kp F4  &kp F5  &kp F6  &trans     &trans     &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_UP
&kp LC(V)  &kp F1  &kp F2  &kp F3  &trans     &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN
                           &trans  &trans     &mkp LCLK  &mkp RCLK
            >;
        };
    };
};
